<h1>Details of Article</h1>

<p>Title:<%=@article.title %></p>
<p>Details:<%= @article.content %></p>
<p><%= link_to "Edit this article", edit_article_path %></p>

<p><%= link_to "Back to list", articles_path %></p>
